# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool: Default

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@0

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'Source/Timely.Main/bin/$(buildConfiguration)/Timely.Main.exe'
    ArtifactName: 'executable'

- task: PublishPipelineArtifact@0
  inputs:
    artifactName: 'executable-pipelines'
    targetPath: 'Source/Timely.Main/bin/$(buildConfiguration)/Timely.Main.exe'

#- upload: 'Source/Timely.Main/bin/Release/Timely.Main.exe'
